@media only screen and (max-width: 1024px) {
  :root {
    font-size: 56%;
  }
}

@media only screen and (max-width: 720px) {
  :root {
    font-size: 50%;
  }
}

@media only screen and (max-width: 680px) {
  body::before {
    --background-url: url('../assets/images/bg-pattern-top-mobile.svg');
  }

  body::after {
    --background-url: url('../assets/images/bg-pattern-bottom-mobile.svg');
  }
}
