@media (max-width: 1024px) {
  :root {
    font-size: 56%;
  }
}

@media (max-width: 720px) {
  body {
    /* background-color: red; */
    background-position: -25% -5%, 120% 110%;
    background-size: 50%, 50%;
  }
}

@media (max-width: 375px) {
  :root {
    font-size: 50%;
  }
}
